@import url('https://fonts.googleapis.com/css?family=Montserrat:600|Open+Sans&display=swap');

* {
    margin: 0;
    padding: 0;
    text-decoration: none;
}

/*
------- BARRA LATERAL
*/

.sidebar {
    position: fixed;
    width: 320px;
    left: -320px;
    height: 100%;
    background: #1e1e1e;
    transition: all .5s ease;
}

.sidebar header {
    font-size: 24px;
    color: white;
    line-height: 70px;
    text-align: center;
    background: #05445E;
    user-select: none;
    font-family: 'Monstserrat', sans-serif;
}

.sidebar a {
    display: block;
    height: 65px;
    width: 100%;
    color: white;
    line-height: 65px;
    padding-left: 30px;
    box-sizing: border-box;
    border-bottom: 1px solid black;
    border-top: 1px solid rgba(255,255,255,.1);
    border-left: 5px solid transparent;
    font-family: 'Open Sans', sans-serif;
    transition: all .5s ease;
}

.sidebar a span {
    font-size: 23px;
    margin-right: 16px;
}

.sidebar a span {
    letter-spacing: 1px;
    text-transform: uppercase;
}

a.active, a:hover {
    border-left: 5px solid #593632;
    color: #00D5FF;
}

#check {
    display: none;
}

label #btn, label #cancel {
    position: absolute;
    cursor: pointer;
    color: white;
    border-radius: 5px;
    font-size: 28px;
    height: 30px;
    width: 30px;
    top: 5px;
    left: 5px;
    text-align: center;
    line-height: 45px;
    transition: all .5s ease;
}

label h1 {
    color: white;
    padding-left: 35px;
    transition: all .5s ease;
}

label #cancel {
    opacity: 0;
    visibility: hidden;
}

#check:checked ~ .sidebar{
    left: 0;
}

.sidebar img{
    margin-left: -20px;
    margin-top: 10px;
}

#check:checked ~ label #btn{
    opacity: 1;
    visibility: visible;
}

#check:checked ~ label h1{
    opacity: 1;
    visibility: visible;
}


#check:checked a #logout {
    top: 50%;
}

@media(max-width: 860px){
    .sidebar{
        height: auto;
        width: 70px;
        left: 0;
        margin: 100px 0;
    }

    header,#btn,#cancel {
        display: none;
    }

    span {
        position: absolute;
        margin-left: 23px;
        opacity: 0;
        visibility: hidden;
        color: pink;
    }

    .sidebar a {
        height: 60px;
    }

    a:hover {
        width: 200px;
        background: inherit;
    }

    .sidebar a:hover span {
        opacity: 1;
        visibility: visible;
    }
}

/*
------- PRINCIPAL
*/

body {
    margin: 0px;
    background: #D4F1F4;
}

#container {
    height: 100%;
    width: 100%;
}

/*
------- CABEÇALHO
*/

header {
    height: 40px;
    background: #05445E;
}

header h1 {
    display: inline;
    color: white;
    text-align: left;
    vertical-align: center;
    margin-left: 10px;
}

header img {
    display: inline;
    height: 34px;
    width: 36px;
    top: 20px;
}


/*
------- CAMPO DE PESQUISA
*/

#pesquisa {
    font-size: 25px;
    position: absolute;
    left: 50%;
    top: -5px;
    margin-top: 110px;
    margin-left: -505px;
}

#pesquisa label {
    color: black;
    margin-top: 12px;
    padding-right: 5px;
}

#pesquisa input.nome {
    width: 610px;
    background: none;
    border: none;
    border-bottom: 1px solid black;
}

.botaoPesquisa {
    width: 100px;
    height: 32px;
    border: none;
    margin-top: 10px;
    border-radius: 8px;
    background: #189AB4;
    color: white;
}

.botaoAdiciona {
    width: 150px;
    height: 32px;
    border: none;
    margin-top: 10px;
    border-radius: 8px;
    background: #05445E;
    color: white;
}

/*
------- FORMULÁRIO
*/

#formularioEstoque{
    height: 700px;
    width: 1000px;
    background: #05445E;
    line-height: 20px;
    text-align: center;
    border-radius: 10px;
    padding-top: 20px;

    position: absolute;
    left: 50%;
    margin-top: 110px;
    margin-left: -500px;
}

label {
    color: white;
    float: left;
    margin-left: 15px;
}

label span {
    float: left;
}

div #formularioEstoque h2{
    color: white;
    font-family: "Inter";
    margin-bottom: 15px;
}

div form input.campoForm {
    border: none;
    opacity: 85%;
    width: 279px;
    height: 25px;
    border-radius: 5px;
}
